<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
            </div>
        </div>
        <div class="row">
            <div>
                <p style="text-align: center;">
                    With this community, we aim at the three following goals.
                </p>
            </div>
            <div class="col-lg-4">
                <h3>Identify Best Practices</h3>
                <p>
                    How and where in the design process is data collected, applied and
                    validated? What is a designerly take on collecting and using data through a process that is dynamic
                    and iterative?
                </p>
            </div>
            <div class="col-lg-4">
                <h3>
                    Co-Develop Appropriate Tools
                </h3>
                <p>
                    How to foster collaboration between designers and data
                    scientists to create accessible, designer-friendly tools that enable a creative and holistic
                    engagement with data? What are the existing tools and methodologies that support designers in using
                    data as creative design material?
                </p>
            </div>
            <div class="col-lg-4">
                <h3>
                    Educate Stakeholders
                </h3>
                <p>
                    How to establish a common ground on responsibly setting up and running
                    designerly, data-intensive projects with regulatory bodies? How to reduce the frictions that emerge
                    from an exploratory, rather than an evaluative, approach to data-intensive activities?
                </p>
            </div>
        </div>
        <div class="row">
            <div>
                <p>
                    For more information, please read our <a style="color: white;"
                    href="https://dl.acm.org/doi/10.1145/3491101.3516403">initial
                    SIG CHI publication</a> by <a style="color: white;" href="https://www.tudelft.nl/en/ide/about-ide/people/gomez-ortega-a">
                        Alejandra Gomez
                        Ortega</a>, <a style="color: white;" href="https://nl.linkedin.com/in/jannevankollenburg">Janne van
                        Kollenburg</a>, <a style="color: white;" href="https://design.osu.edu/people/shen.1049">Yvette Shen</a>, <a style="color: white;"
                        href="https://www.tudelft.nl/en/ide/about-ide/people/murray-rust-d">Dave-Murray Rust</a>, <a style="color: white;"
                        href="https://fulbright.uark.edu/departments/art/directory/index/uid/nedic/name/Dajana+Nedic/">Dajana
                        Nedić</a>, <a style="color: white;" href="https://carleton.ca/id/profile/juan-jimenez-garcia/">Juan Jimenez
                        Garcia</a>, <a style="color: white;" href="https://www.tudelft.nl/en/ide/about-ide/people/meijer-w">Wo
                        Meijer</a>, <a style="color: white;" href="https://in.linkedin.com/in/pranshu101">Pranshu Kumar
                        Chaudhary</a> and <a style="color: white;" href="https://www.tudelft.nl/en/ide/about-ide/people/bourgeois-j">Jacky
                        Bourgeois</a>.
                </p>
                <p>
                    To inform conversations, we'd like to learn from your personal experience working at the
                    intersection of data and design.
                </p>
            </div>
            <div style="text-align: center;">
                <a href="https://airtable.com/shrg9OmAu9TLB4RBZ" class="btn btn-lg btn-outline">
                    Contribute to our Virtual Gallery
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <iframe class="airtable-embed"
                src="https://airtable.com/embed/shrT0HUmXMYT3yijg?backgroundColor=cyanLight&viewControls=on"
                frameborder="0" onmousewheel="" width="100%" height="533"
                style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
    </div>
</section>