<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <img class="img-responsive" src="img/profile.png" alt="profile-pic" /> -->
        <div class="intro-text">
          <span class="name">
            Data as Human-Centred Design Material
          </span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-lg-4 col-lg-offset-2">
        <div class="intro-text" style="text-align: left;">
          <p>
            Data and Design is an exciting and complex interface where designers can find new ways to inform, develop and assess their design.
          </p>
          <p>
            We invite you to join this emerging community on Data as Human-Centred Design Material, a platform to exchange experience and insights on the use of behavioural data in a participatory design process.
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="intro-text" style="text-align: left;">
          <p>
            Join us for the next hybrid conversation on Oct 21st, 2022. Online and in-person in Delft, South-Holland, NL.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
