<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="about.html">About</a>
      <a class="sidebar-nav-item" href="gallery.html">Projects</a>
      <a class="sidebar-nav-item" href="papers.html">Papers</a>
      <a class="sidebar-nav-item" href="events.html">Events</a>
      <a class="sidebar-nav-item" href="https://podcasts.apple.com/nl/podcast/data-centric-design/id1581554015">Podcast</a>
      <a class="sidebar-nav-item" href="https://join.slack.com/t/data-centricdesign/shared_invite/zt-1izg8lchw-TYFzqOwMMCe2Ete9GHQfpQ">Join us on Slack</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
